<hr>
<div class="pricing-card" style="text-align:left !important">
    <div class="pricing-card-header bg-default">
        <h4 class="m-y-sm">Menüler</h4>
    </div>
    <div class="">
        @Html.Raw(ViewBag.Menu)
        @*<ul class="checktree">
            <li style="display: block;">
                <ul>

                    <li>
                        <input id="anasayfa" type="checkbox" /><label for="vicepresident">Anasayfa</label>
                    </li>

                    <li>
                        <input id="profil" type="checkbox" /><label for="vicepresident">Profil</label>
                        <ul>
                            <li><input id="hakkimizda" type="checkbox" /><label for="manager4">Hakkımızda</label></li>
                            <li><input id="degerlerimiz" type="checkbox" /><label for="manager5">Değerlerimiz</label></li>
                        </ul>
                    </li>


                </ul>
            </li>
        </ul>*@
    </div>
</div>
<style>
    .checktree {
    padding:0;
    }
</style>
