
<div class="layout-sidebar">
    <div class="layout-sidebar-backdrop"></div>
    <div class="layout-sidebar-body">
        <div class="custom-scrollbar">
            <nav id="sidenav" class="sidenav-collapse collapse">
                <ul class="sidenav">
                    <li class="sidenav-search hidden-md hidden-lg">
                        <form class="sidenav-form" action="/">
                            <div class="form-group form-group-sm">
                                <div class="input-with-icon">
                                    <input class="form-control" type="text" placeholder="Search…">
                                    <span class="icon icon-search input-icon"></span>
                                </div>
                            </div>
                        </form>
                    </li>
                    <li class="sidenav-heading">Navigation</li>
                    <li class="sidenav-item">
                        <a href="index.html">
                            <span class="sidenav-icon icon icon-home"></span>
                            <span class="sidenav-label">Dashboard</span>
                        </a>
                    </li>
                    <li class="sidenav-item has-subnav active">
                        <a href="#" aria-haspopup="true">
                            <span class="sidenav-icon icon icon-th"></span>
                            <span class="sidenav-label">Sınıflar</span>
                        </a>
                        <ul class="sidenav-subnav collapse">
                            @{
                                            /**/

                                            Html.RenderAction("ClassTypeList", "Home");
                            }
                        </ul>
                    </li>
                    <li class="sidenav-item has-subnav active">
                        <a href="#" aria-haspopup="true">
                            <span class="sidenav-icon icon icon-briefcase"></span>
                            <span class="sidenav-label">Portal</span>
                        </a>
                        <ul class="sidenav-subnav collapse">
                            <li>
                                <a href="@Url.Action("index", "banner",new {area = "admin"})">
                                    Bannerlar
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","Menu")">
                                    Menüler
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidenav-item has-subnav active">
                        <a href="#" aria-haspopup="true">
                            <span class="sidenav-icon icon icon-columns"></span>
                            <span class="sidenav-label">İçerikler</span>
                        </a>
                        <ul class="sidenav-subnav collapse">
                            @{
                                Html.RenderAction("ContentClassList", "Home");
                            }
                        </ul>
                    </li>
                    <li class="sidenav-item active">
                        <a href="@Url.Action("Index","Account")" aria-haspopup="true">
                            <span class="sidenav-icon icon icon-columns"></span>
                            <span class="sidenav-label">Kullanıcılar</span>
                        </a>
                    </li>

                </ul>
            </nav>
        </div>
    </div>
</div>
